<ion-header>

  <ion-navbar>

    <ion-title>Channel Page</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-6 col-lg-4 *ngFor="let item of channel.articles" (click)="onItemClick(item, $event)">
          <ion-card text-left box-shadow margin-bottom *ngIf="item.urlToImage != null">
            <!--Card Image-->
            <div card-image>
              <img [src]="item.urlToImage" />
              <br>
              <div title-block>
                <!--Card Title-->
                <h2 card-title text-capitalize style="text-align: center;">{{item.description | slice:0:60}}</h2>
              </div>
            </div>
            <!--Card descriptiom-->
            <ion-card-content>
              <ion-card-title margin-bottom no-padding>
                <ion-item transparent no-padding>
                  <!--Card Subtitle-->
                  <h1 card-subtitle item-start>{{item.source.name}}</h1>
                </ion-item>
              </ion-card-title>
              <button block default-button ion-button (click)="readMore(item)">Read More</button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>